/*JAY REID CSS STYLESHEET FOR HTML TEMPLATE | CREATED: 03/09/2025 | LAST UPDATED: 03/09/2025*/

/*COLOUR SCHEME**

PRIMARY = #083045

PRIMARY 2 = #051f2d

YELLOW SECONDARY = #efd469

SECONDARY 2 = #B38e2e


WHITE SECONDARY = #F8F8FF */


html, body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    
}
body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #083045;
    color: #efd469;

}
#editor{
    width: 100%;
    display: block;
    box-sizing: border-box; 
    resize: none;
    overflow:auto;
    font-size: 1em;
    padding: 1em;
    flex: 1 1 auto;
    background-color: #083045;
    color: #efd469;
    border: 0;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 auto;
    flex-wrap: nowrap;
    height: 8vh;
    
    
}
header button{
    width: 50%;
    background-color: #051f2d;
    color: #efd469;
    border-radius: 20px;
    border: #efd469 solid 1px;
    font-size: 1.5em;

}

@media (max-width: 400px) {
    header {
        flex-wrap: wrap;
    }
    #customKeyBar{
        width: 20%;
    }
   
}

#customKeyBar{
position: fixed;
top: 9vh;
right: -2vw;
width: 15vw;
height: 45vh;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.customKey{
font-size: 1.5em;
width:100%;
height: 20%;
text-wrap-mode: nowrap;
align-items: center;
align-content: center;
background-color: #051f2d;
color: #efd469;
border-radius: 20px;
border: #efd469 solid 1px;
}


