/*CSS STYLESHEET FOR JCODE | CREATED: 03/09/2025 | LAST UPDATED: 03/09/2025*/

/*COLOUR SCHEME**

PRIMARY = #083045

PRIMARY 2 = #051f2d

YELLOW SECONDARY = #efd469

SECONDARY 2 = #B38e2e
*/


html, body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    
}
*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #051f2d;
    color: #efd469;

}
#editor{
    width: 95%;
    
    border: #efd469 solid 1px;
    border-left: 0;
    display: block;
    box-sizing: border-box; 
    resize: none;
    overflow:auto;
    font-size: 1em;
    padding: 1em;
    padding-top: 2em;
    flex: 1 1 auto;
    background-color: #083045;
    color: #efd469;
    z-index: 0;
}
#menu{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100; 
    display: none;
    left: 0%;
    top: 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#settingsMenu{
    background-color: #051f2d;
    border: #efd469 solid 5px;
    border-radius: 40px;
    width: 60%;
    padding: 20px;
    display: none;
    flex-direction: column; 
    justify-content: space-between;
    margin: auto;
    z-index: 101;
    margin-top: 20%;

}

#settingsPanel label{
    font-size: 1.5em;
    display: block;
    margin-bottom: 10px;
}
#settingsButton{
    position: absolute;
    top: 88%;
    right: -1%;
    width: 8%;
    height: 15%;
    padding: 0%;
    border-top-left-radius: 55px;
    background-image: url("media/settings.png");
    background-size: cover;
    background-position: center;
    background-color: #051f2d;
    border: none;
    border-left: #efd469 solid 1px;
    border-top: #efd469 solid 1px;
    background-repeat: no-repeat;

    color: #efd469;
    font-size: 1.5em;
    z-index: 50;
     
}
@media (max-width: 400px) {
    #settingsButton{
        width: 15%;
        height: 10%;
        top: 90%;
        background-size: 80px 80px;
        background-position-x: 10px;
        background-position-y: 10px;
    }
}
#settingsButton:hover{
    background-color: #efd469;
    color: #051f2d;
}


#fileSelectorMenu{
    background-color: #051f2d;
    border: #efd469 solid 5px;
    border-radius: 40px;
    width: 70%;
    padding: 20px;
    display: none;
    flex-direction: column; 
    justify-content: space-between;
    margin: auto;
    margin-top: 10%;
    margin-top: 20%;

}
#selector{
    width: 50vw;
    font-size:2em;
    text-align: center;
    background-color: #051f2d;
    color: #efd469;
    border: #efd469 solid 1px;
    align-self: center;
    margin-bottom: 25px;
}
#selectorButton{
    width: 50vw;
    font-size:2em;
    text-align: center;
    background-color:#051f2d;
    color: #efd469;
    border: #efd469 solid 1px;
    align-self: center;
    font-weight: 900;
    margin-bottom: 25px;
    border-radius: 20px;
}

#selectorInput{
    width: 50vw;
    font-size:1.5em;
    text-align: center;
    background-color:#083045;
    color: #efd469;
    border: #efd469 solid 1px;
    align-self: center;
    font-weight: 900;
    margin-bottom: 25px;
}
#closeButton{
    width: 40vw;
    color: red;
    border: red solid 2px;
    border-radius: 60px;
    align-self: center;
    background-color:#051f2d;
    font-weight:bolder;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-top: 25px;

}
#closeButton:hover{
    background-color: red;
    color: #083045;
}
#buttonBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 auto;
    flex-wrap: nowrap;
    height: 7vh;
    margin-bottom: 10px;
    background-color: #083045;
    
}
header button{
    width: 50%;
    background-color: #051f2d;
    color: #efd469;
    border-radius: 10px;
    border: #efd469 solid 1px;
    font-size: 1.5em;
}

header button:hover,.customKey:hover,#selectorButton:hover{
    background-color: #efd469;
    color: #051f2d;
}

@media (max-width: 400px) {
    #buttonBar {
        flex-wrap: wrap;
    }
    #customKeyBar{
        width: 20%;
    }
   
}

#customKeyBar{
position: fixed;
top: 9vh;
right: -4vw;
width: 16vw;
height: 38vh;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.customKey{
font-size: 1.5em;
width:100%;
height: 20%;
text-wrap-mode: nowrap;
align-items: center;
align-content: center;
background-color: #051f2d;
color: #efd469;
border-bottom-left-radius: 20px;
border-top-left-radius: 20px;
border: #efd469 solid 1px;
padding-right: 25px;
}

#infoBar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #051f2d;
    color: #efd469;
    text-align: center;
    font-size: 0.8em;
    padding: 5px 0;
    border-top: #efd469 solid 1px;
    z-index: 5;
}


