/*CSS STYLESHEET FOR JCODE | CREATED: 03/09/2025 | LAST UPDATED: 03/09/2025*/

/*COLOUR SCHEME**

PRIMARY = #083045

PRIMARY 2 = #051f2d

YELLOW SECONDARY = #efd469

SECONDARY 2 = #B38e2e
*/


html, body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    
}
*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #083045;
    color: #efd469;

}
#editor{
    width: 100%;
    display: block;
    box-sizing: border-box; 
    resize: none;
    overflow:auto;
    font-size: 1em;
    padding: 1em;
    flex: 1 1 auto;
    background-color: #083045;
    color: #efd469;
    border: 0;
}
#fileSelector{
    flex-direction: column-reverse;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000; 
    display: none;
    left: 0%;
    align-items: flex-start;
    box-sizing: border-box;
   
}
#selectorBox{
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    height: 60%;
    width: 60%;
    align-self: center;
    bottom:10%;
}
#selector{
    font-size:2em;
    text-align: center;
    background-color: gray;
    height: 20%;
    width: 60%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color:grey;
    color: #efd469;
    border: #efd469 solid 1px;
    align-self: center;
}
#selectorButton{
    width: 60%;
    height: 20%;
    font-size:2em;
    text-align: center;
    background-color:grey;
    color: #efd469;
    border: #efd469 solid 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-self: center;
    font-weight: 900;
}

#selectorInput{
    width: 60%;
    height: 20%;
    font-size:2em;
    text-align: center;
    background-color:white;
    color: #efd469;
    border: #efd469 solid 1px;
    align-self: center;
    font-weight: 900;
}
#closeButton{
    color: red;
    border: red solid 2px;
    border-radius: 60px;
    width: 25%;
    height: 20%;
    align-self: center;
    background-color:#083045;
    font-weight:bolder;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10%;
}
#closeButton:hover{
    background-color: red;
    color: #083045;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 auto;
    flex-wrap: nowrap;
    height: 7vh;
    margin-bottom: 10px;
}
header button{
    width: 50%;
    background-color: #051f2d;
    color: #efd469;
    border-radius: 10px;
    border: #efd469 solid 1px;
    font-size: 1.5em;
}

header button:hover,.customKey:hover,#selectorButton:hover{
    background-color: #efd469;
    color: #051f2d;
}

@media (max-width: 400px) {
    header {
        flex-wrap: wrap;
    }
    #customKeyBar{
        width: 20%;
    }
   
}

#customKeyBar{
position: fixed;
top: 9vh;
right: -4vw;
width: 14vw;
height: 38vh;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.customKey{
font-size: 1.5em;
width:100%;
height: 20%;
text-wrap-mode: nowrap;
align-items: center;
align-content: center;
background-color: #051f2d;
color: #efd469;
border-bottom-left-radius: 20px;
border-top-left-radius: 20px;
border: #efd469 solid 1px;
padding-right: 25px;
}

#infoBar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #051f2d;
    color: #efd469;
    text-align: center;
    font-size: 0.8em;
    padding: 5px 0;
    border-top: #efd469 solid 1px;
}


